<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybaits.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.todolist.model.mapper.TodoMapper">
	<select id="selectAll" resultType="jp.co.internous.todolist.model.domain.Todo">
		select * from tasks
	</select>
</mapper>