<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>todoList</title>
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet"
	  href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script>
</script>
</head>
<body>
<header>
	<h1>todoList</h1>
</header>
<div class="create">
	<form method="POST" action="/task/add" th:action="@{/task/add}">
		<div>
			<legend>新規タスク</legend>
			<p><input type="text" name="title" placeholder="内容を入力してください"/></p>
			<p><input type="submit" id="addBtn" value="タスクを追加"></p>
		</div>
	</form>
</div>	
	<fieldset>
		<legend>現在のタスク</legend>
		<table id="tasks">
			<thead>
				<th>#</th>
				<th>Task</th>
				<th>&nbsp;</th>
			</thead>
			<tbody>
				<tr th:each="task : ${tasks}">
					<td><input type="checkbox" name="id" class="checkList" th:value="${task.id}"/></td>
					<td th:text="${task.title}"/></td>
					<td><button>更新</button></td>
				</tr>
			</tbody>
		</table>
		<div class="buttonArea">
			<button id="deleteButton">削除</button>
		</div>
	</fieldset>
</body>
</html>